section#faq {
  background-color: var(--accent);
  min-height: auto;
  padding: var(--XL-XL) var(--L-M) var(--L);
}

section#faq h2 {
  color: var(--white);
}

section#faq .container-faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: var(--L-M) auto;
}

section#faq .item-faq {
  border-bottom: 3px solid var(--primary);
  max-width: 1080px;
  width: 100%;
  position: relative;
  margin-bottom: var(--M);
}

section#faq h3 {
  font-size: var(--M);
  font-family: "Satoshi-bold";
  color: var(--white);
  margin-bottom: 0;
  padding-bottom: var(--S);
  line-height: initial;
}

section#faq .item-faq span.plus {
  position: ABSOLUTE;
  right: 0;
  transition: all 0.2s;
  top: 5px;
}

section#faq .item-faq .plus img {
  width: 26px;
  height: 26px;
}

section#faq .description-ask {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  background-color: transparent;
  display: block;
  max-width: 80%;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  border-radius: 0;
  transition: max-height 0.4s ease-in-out;
}

section#faq .active .description-ask {
  max-height: fit-content;
  overflow: visible;
  padding-bottom: 20px;
}

section#faq .question-box.active span.plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.8s;
}

section#faq .description-ask p {
  font-family: "Satoshi-regular";
  opacity: 0;
  color: var(--white);
  font-size: 20px;
  transition: opacity 0.4s ease-in-out;
}

section#faq .active .description-ask p {
  opacity: 1;
}
