/* Services Ways Styles  */

/* Top Section */
section.services-ways{
  padding: 80px 0 0;
}

section.services-ways .container-services-ways {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

section.services-ways .container-services-ways img {
  max-width: 180px;
  width: 100%;
}

section.services-ways .container-services-ways span{
  display: block;
  font-size: 22px;
} 

section.services-ways .container-services-ways h2 {
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 47px;
  margin: 0;
  padding: 0 0 var(--M);
  line-height: 48px;
  font-weight: var(--bold);
  text-align: center;
  max-width: 800px;
  color: var(--accent);
}

/* Tabs Section */

.tabs_content_pane {
  line-height: 25px;
  text-align: left;
  display: none;
}

.tabs-ways-sections ul.tabs li.tabs_item {
  text-align: center;
  list-style: none;
  border-right: 2px solid var(--primary);
}

.tabs-ways-sections ul.tabs li:last-child {
  border-right: none;
}

.tabs-ways-sections ul.tabs {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 4em;
  margin-bottom: 3.5em;
  align-items: center;
}

.is_active {
  display: block;
}

.tabs-ways-sections ul.tabs li a{
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 36px;
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  padding: 1em 0;
}


.tabs-ways-sections ul.tabs li a:hover{
  color: var(--accent);
}

.tabs-ways-sections ul.tabs li a.is_selected{
  color: var(--accent);
}

.tabs-ways-sections .tabs_content .grid-container {
  display: flex;
  gap: 2em;
}

.tabs-ways-sections .tabs_content .grid-container .container-about {
  flex-direction: column;
  flex-basis: 40%;
  background-color: var(--accent);
  padding: 3em;
  align-items: flex-end;
  display: flex;
}

/* About */

.container-about .box-about {
  flex-direction: column;
  padding: 0 40px;
  justify-content: center;
  text-align: left;
  width: 360px;
}

.container-about .box-about h3{
  margin-bottom: 2em;
  color:#fff;
}

.container-about .box-about p{
  color:#fff;
  font-size: 20px;
  font-weight: 700;
}

.container-about .box-about ul{
  margin-bottom: 2em;
  color:#fff;
}

.container-about .box-about ul li{
  font-size: 18px;
  color:#fff;
  padding-bottom: 0.5em;
  list-style: none;
  display: flex;
}

.container-about .box-about i.fa-check::before {
  content: "\f00c";
  font-size: 15px;
  position: relative;
  left: 0;
  margin-right: 8px;
  top: 4px;
  color: var(--white);
}

.tabs-ways-sections .container-about .box-about  a.button {
  font-family: "Satoshi-bold";
  padding: 0.4em 1em;
  background: transparent;
  border-color: var(--white);
  border-style: solid;
  line-height: 1.6em;
  color: var(--white);
  padding: 9px 19px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border-radius: 50px;
  text-decoration: none;
}

/* Testimonials */

.grid-container .container-testimonials {
  width: 100%;
  max-width: 100%;;
  position: relative;
  margin: inherit;
  overflow: hidden;
  padding: 40px;
}

.grid-container .container-testimonials  .box-testimonials {
  max-width: 1000px;
  width: 100%;
}


.container-testimonials .frame-testimonial .row-avatar {
  display: flex;
  gap: 2em;
  align-items: center;
}

.container-testimonials .frame-testimonial .row-avatar .avatar img {
  width: 100px;
  height: auto;
}

.container-testimonials .frame-testimonial .row-avatar .brand img {
    width: 110px;
}

.container-testimonials .frame-testimonial .row-avatar  span.number-help {
  display: block;
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 47px;
  margin: 0;
  padding: 0 0 var(--M);
  line-height: 48px;
  font-weight: var(--bold);
  color: var(--primary);
  padding-bottom: var(--XS);
}

.container-testimonials .frame-testimonial .separator {
  text-align: center;
}

.container-testimonials .frame-testimonial .separator img {
  height: 9px;
  text-align: center;
  margin: 0 auto;
}

.container-testimonials .frame-testimonial .row-content {
  display: flex;
  padding-top: 2em;
  gap: 0.8em;
}

.container-testimonials .frame-testimonial .row-content .content p{
  font-size: 20px;
  line-height: 30px;
}

.container-testimonials .frame-testimonial .row-content .position p{
  display: flex;
  flex-direction: column;
}

.container-testimonials .frame-testimonial .row-content .icon img {
  width: 34px;
  height: auto;
}

/* Dots */
.container-testimonials .owl-nav,
.container-testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.container-testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.container-testimonials .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    background-color: transparent;
    border: 2px solid #000;
}

.container-testimonials .owl-dot.active {
  background-color: #000;
  border: 2px solid #000;
}



