/* Services Ways Styles  */

section.services-ways{
  padding: 80px 0 0;
}

.container-services-ways {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container-services-ways span{
  display: block;
  font-size: 20px;
} 

.container-services-ways h2 {
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 47px;
  margin: 0;
  padding: var(--S) 0 var(--L);
  line-height: 48px;
  font-weight: var(--bold);
  text-align: center;
  max-width: 800px;
  color: var(--accent);
}

ul.tabs {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2em;
  margin-bottom: 2em;
}

.tabs-ways-sections li a{
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 36px;
  color: var(--primary);
  cursor: pointer;
}

.tabs-ways-sections li a:hover{
  color: var(--accent);
}

.tabs-ways-sections li a.is_selected{
  color: var(--accent);
}

.tabs-ways-sections .grid-container {
  display: flex;
  gap: 2em;
}

.tabs-ways-sections .container-about {
  flex-direction: column;
  flex-basis: 40%;
  background-color: var(--accent);
  padding: 3em;
  align-items: flex-end;
  display: flex;
}

.tabs-ways-sections .box-about {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  justify-content: center;
  text-align: left;
  width: 360px;
}

.tabs-ways-sections .box-about h3{
  margin-bottom: 2em;
  color:#fff;
}

.tabs-ways-sections .box-about ul{
  margin-left: 15px;
  margin-bottom: 2em;
  color:#fff;
}

.tabs-ways-sections .box-about ul li{
  font-size: 18px;
  color:#fff;
  padding-bottom: 0.5em;
}


.frame-testimonial .content{
  padding-top: 2em;
}

.frame-testimonial .content p{
  font-size: 20px;
  line-height: 30px;
}


.frame-testimonial .row-avatar {
  display: flex;
  gap: 2em;
  align-items: center;
}

.frame-testimonial .row-avatar  span.number-help {
  display: block;
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 47px;
  margin: 0;
  padding: 0 0 var(--M);
  line-height: 48px;
  font-weight: var(--bold);
  color: var(--primary);
  padding-bottom: var(--XS);
}


.grid-container .container-testimonials {
  width: 100%;
  max-width: 100%;;
  position: relative;
  margin: inherit;
  overflow: hidden;
  padding: 40px;
}

.grid-container .container-testimonials  .box-testimonials {
  max-width: 1000px;
  width: 100%;
}

.tabs-ways-sections a.button {
  font-family: "Satoshi-bold";
  padding: 0.4em 1em;
  background: transparent;
  border-color: var(--white);
  border-style: solid;
  line-height: 1.6em;
  color: var(--white);
  padding: 9px 19px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  border-radius: 50px;
  text-decoration: none;
}

.tabs-ways-sections .container-about h3,
.tabs-ways-sections .container-about li,
.tabs-ways-sections .container-about p{
  color: #fff;
}

.tabs_content_pane {
  line-height: 25px;
  text-align: left;
  display: none;
}

.is_active {
  display: block;
}

li.tabs_item {
  text-align: center;
  list-style: none;
}

.hero-contact img {
  max-width: 280px;
  width: 100%;
  padding-bottom: var(--S);
}

.wp-block-services-ways {
  margin: 0 0 1em;
  max-width: 800px;
  border-radius: 40px;
}

.wp-block-services-ways video {
  width: 100%;
  border-radius: 40px;
}

.container-services-ways img {
  max-width: 180px;
  width: 100%;
}

.frame-testimonial .content .position p{
  display: flex;
  flex-direction: column;
}


.row-avatar .avatar img {
  width: 100px;
  height: auto;
}


.row-avatar .brand img {
    width: 110px;
}

.container-services-ways .video-thumb img {
  max-width: 780px;
  width: 100%;
  height: auto;
}



