.localizacion .list-localizacion {
    display: flex;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
}

.localizacion .content{
    display: flex;
    flex-direction: column;
}

.localizacion .content .item{
    padding-bottom: 3em;
}

.localizacion .content h3{
    margin-bottom: 16px
}

.localizacion .content a{
    color: var(--primary);
    text-decoration: none;
}

.localizacion .content a:hover{
    text-decoration: underline;
}

.localizacion .list-localizacion .social-icons {
    display: flex;
    gap: 12px;
}

.localizacion .list-localizacion .social-icons i {
    font-size: 32px;
    color: var(--accent);
}


@media only screen and (max-width: 1080px) {
    .localizacion .list-localizacion{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .localizacion .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3em;
        order: 2;
    }
}


@media only screen and (max-width: 680px) {

    .localizacion .content{
        text-align: center;
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    .localizacion .content .item {
        padding-bottom: 1em;
    }

    .localizacion .list-localizacion .social-icons {
        justify-content: center;
    }
}