/* CTA Styles  */

section .banner{
  position: relative;
  height: 380px;
  border-radius: 15px;
  overflow: hidden;
}

section .banner .box-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 780px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
}

section .banner a.button {
    font-family: "Marbry-bold";
    padding: 8px 16px;
    border: 2px solid var(--primary);
    color: var(--primary);
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
}

section .banner a.button:hover{
  text-decoration: underline;
}

section .banner h2{
  font-family: "Marbry-bold";
  font-size: 48px;
  text-align: center;
  padding-bottom: var(--S);
}
