/* CTA Styles  */

section.banner {
  padding: 0;
  min-height: auto;
}

.hero-contact,
.hero-news {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 20px 120px;
}

.hero-contact .container-contact,
.hero-news .container-contact {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}

.hero-contact h3 {
  font-size: 47px;
  margin: 0;
  padding: 0 0 var(--L);
  line-height: 48px;
  font-family: "CabinetGrotesk-Extrabold";
  color: var(--white);
}

.hero-news h3 {
  font-size: 47px;
  margin: 0;
  padding: 0 0 var(--L);
  line-height: 48px;
  font-family: "CabinetGrotesk-Extrabold";
  color: var(--primary);
}

.hero-contact img,
.hero-news img {
  max-width: 280px;
  width: 100%;
  padding-bottom: var(--S);
}

.hero-contact p {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  line-height: 30px;
}

.hero-news p {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: var(--primary);
  font-weight: 100;
  line-height: 30px;
}

.hero-contact button {
  background-color: transparent;
  padding: 10px 25px;
  margin-bottom: 0;
  border: 2px solid var(--white);
  margin-top: 15px;
  border-radius: 100px;
}

.hero-news button {
  background-color: transparent;
  padding: 10px 25px;
  margin-bottom: 0;
  border: 2px solid var(--primary);
  margin-top: 15px;
  border-radius: 100px;
}

.hero-contact button a {
  font-family: "Satoshi-bold";
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
}

.hero-news button a {
  font-family: "Satoshi-bold";
  color: var(--primary);
  font-size: 20px;
  text-decoration: none;
}
