/* CTA Styles  */


section .banner{
  position: relative;
  height: 380px;
  border-radius: 15px;
  overflow: hidden;
}

section .banner .box-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 780px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
}

section .banner a.button {
    font-family: "Marbry-bold";
    padding: 8px 16px;
    border: 2px solid var(--primary);
    color: var(--primary);
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.25s;
}


section .banner a.button:hover{
    background-color: var(--primary);
    color: var(--white);
}

section .banner h2{
  font-family: "Marbry-bold";
  font-size: 48px;
  text-align: center;
  padding-bottom: var(--S);
}

@media only screen and (max-width: 1080px){
  section .banner h2{
    font-size: 36px;
  }
  section .banner .box-container{
    max-width: max-content;
  }
}

@media only screen and (max-width: 630px){
  section .banner .box-container{
    max-width: 300px;
  }
}

@media only screen and (max-width: 480px){
  section .banner h2{
    font-size: 28px;
  }
}

@media only screen and (max-width: 375px){
  section .banner .box-container {
    max-width: 280px;
  }
section .banner .box-container{ 
    padding: 20px 10px;
  }
}
