section.grid-cases {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

section.grid-cases div p {
  font-family: "Satoshi-bold";
  font-size: 18px;
  line-height: normal;
}

section.grid-cases div a {
  font-family: "Satoshi-bold";
  font-size: 18px;
  line-height: normal;
}

section.grid-cases .frame .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 380px;
  padding: 3rem;
}

section.grid-cases .frame .content img {
  max-width: 120px;
}
