.hero_book {
  background-color: var(--pink);
  min-height: 50vh;
  display: flex;
  padding: 0 40px;
}

.hero_book .hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.hero_book h1 {
  font-family: "CabinetGrotesk-Extrabold";
  font-size: 94px;
  line-height: 72px;
}

.hero p {
  font-size: 24px;
  line-height: 36px;
}

.hero_book .hero h1 {
  color: var(--primary);
}

.hero_book .hero a.button {
  color: var(--primary);
  border-color: var(--primary);
}

.hero .links {
  display: flex;
  padding-top: 1em;
  gap: 1.5em;
}

.hero a.button {
  font-family: "Satoshi-bold";
  padding: 0.4em 1em;
  background: transparent;
  border-color: var(--white);
  border-style: solid;
  line-height: 1.6em;
  color: #fff;
  padding: 9px 19px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.hero .kt-btn-svg-icon {
  padding-left: 0.5em;
}
