
div.text-img{
    padding: 1em 0;
    display: flex;
    gap: 2em;
}

div.text-img.start{
    align-items:start;
}

div.text-img.center{
    align-items:center;
}

div.text-img .box-img img{
    border-radius:15px;
}

div.text-img .box-text span.number{
    font-family: "Marbry-bold";
    font-size: 120px;
    font-style: normal;
    line-height: 86px;
}

div.text-img .box-text.first{
    order:0;
}

div.text-img .box-text.second{
    order:1;
}


div.text-img .box-text h2{
    font-size: 24px;
    padding-bottom: var(--S);
}

div.text-img .box-text.second h2{
    font-size: 48px;
}