/* Values Styles  */

section.testimonial {
  padding: 80px 0;
}

section.testimonial .container-testimonial {
  display: flex;
  gap: 7em;
}

section.testimonial .description {
  flex-basis: 47%;
}

.container-items-testimonial {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

section.testimonial .container-testimonial .avatar img {
  max-width: 90px;
}

section.testimonial .item-testimonial {
  display: flex;
  gap: 2em;
}

.container-testimonial p,
.container-testimonial a {
  color: var(--primary);
}
