/* Values Styles  */

section.testimonial {
  padding: 80px 0;
}

section.testimonial .container-testimonial {
  display: flex;
  justify-content: space-between;
 /*  gap: 7em; */
}

section.testimonial .description {
  flex-basis: 25%!important;
  /* flex-basis: 30%; */
}

.container-items-testimonial {
  display: flex;
  flex-direction: column;
  gap: 3em;
}


section.testimonial .container-testimonial .avatar img {
  width: 90px;
  height: auto;
  border-radius: 50%;
}

section.testimonial .item-testimonial {
  display: flex;
  gap: 2em;
  margin-bottom: 1.5em;
}

.container-testimonial p,
.container-testimonial a {
  color: var(--primary);
}

.container-items-testimonials{
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.container-items-testimonials .owl-nav,
.container-items-testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.container-items-testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.container-items-testimonials .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    background-color: transparent;
    border: 2px solid #000;
}

.container-items-testimonials .owl-dot.active {
  background-color: #000;
  border: 2px solid #000;
}
