/* CTA Faq Styles  */

section .banner-faqs {
  position: relative;
  height: 345px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}


section .banner-faqs .ilustration {
  position: absolute;
  bottom: -10px;
  left: 25px;
  z-index: 0;
}

.banner-faqs .box-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 650px;
  justify-content: center;
  padding: 0 20px;
  z-index: 10;
}

section .banner-faqs a.button {
  font-family: "Marbry-bold";
  color: #fff;
  border-radius: 10px;
  background-color: var(--cta);
  border: 1px solid var(--cta);
  padding: 5px 16px 7px;
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

section .banner-faqs a.button:hover{
  background-color: var(--cta-hover);
  border: 1px solid var(--cta-hover);
  text-decoration: none;
}

section .banner-faqs h2 {
  font-family: "Marbry-bold";
  font-size: 48px;
  text-align: center;
  padding-bottom: var(--M);
}
section .banner-faqs .text p{
  padding-bottom: var(--L);
}


@media only screen and (max-width: 1080px){

  section .banner-faqs .ilustration{
    display: none;
  }

  section .banner-faqs h2 {
    font-size: 36px;  
  }

  section .banner-faqs .text p{
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 480px){
  section .banner-faqs h2 {
    font-size: 28px; 
  }

  section .banner-faqs{
    height: 300px;
  }
}