.item-accordion{
  background-color: var(--soft-beige);
  display: flex;
  height: auto;
  padding: var(--S);
  margin-bottom: var(--S-M);
  justify-content: space-between;
  border-radius: 10px;
}

.grid-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.page-template-page-faq .item-accordion h2,
.item-accordion h2{
  font-family: "Marbry-regular";
  font-size: 24px;
  color: var(--primary);
  padding: 0;
  line-height: 130%;
}

/* .items-accordion .description p, */
.container-accordion .description p{
  opacity: 0;
  margin-bottom: 1em;
  transition: opacity .4s ease-in-out;
}

.container-accordion .description ul{
  margin-left: 12px;
}

.container-accordion .description ul li{
  font-family: "Marbry-regular";
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 10px;
}

.question-box .description{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    background-color: transparent;
    display: block;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border-radius: 0;
    transition: max-height .4s ease-in-out;
}

.question-box.active .description{
  max-height: fit-content;
  overflow: visible;
  padding-bottom: 20px;
}

.question-box.active .description p {
  opacity: 1;
}

.question-box.active .description p a{
  color: var(--accent);
}


@media only screen and (max-width: 480px) {
.page-template-page-faq .item-accordion h2, .item-accordion h2 {
  font-size: 20px;
}
}