/* Espaciador Styles  */

section .block-spacer.xl {
  height: 120px;
}

section .block-spacer.big {
  height: 50px;
}

section .block-spacer.medium {
  height: 30px;
}

section .block-spacer.small {
  height: 15px;
}

@media only screen and (max-width: 980px) {
  section .block-spacer.xl {
    height: 40px;
  }
}

@media only screen and (max-width: 781px) {
  section .block-spacer.big {
    height: 35px;
  }
}

@media only screen and (max-width: 480px) {
  section .block-spacer.big {
    height: 25px;
  }

  section .block-spacer.xl {
    height: 25px;
  }
}
