/* Values Styles  */

section.testimonial {
  padding: 80px 0;
}

section.testimonial .container-testimonial {
  display: flex;
  gap: 7em;
}

section.testimonial .description {
  flex-basis: 47%;
}


.container-testimonials{
  width: 100%;
/*   display: flex;
  gap: 3em; */
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.container-items-testimonial {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

section.testimonial .container-testimonial .avatar img {
  max-width: 90px;
  height: 90px;
}

section.testimonial .item-testimonial {
  display: flex;
  gap: 2em;
}

.container-testimonial p,
.container-testimonial a {
  color: var(--primary);
}
