section.brands {
  min-height: auto;
  padding: 70px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section.brands h2 {
  font-size: 46px;
  line-height: 50px;
  font-family: "CabinetGrotesk-Extrabold";
  color: var(--accent);
  text-align: center;
  margin: 0;
  padding: 25px 20px 50px 20px;
}

section.brands h2 mark {
  color: var(--accent);
}

section.brands .clients {
 /*  padding: 0 60px 0; */
  padding:0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  grid-gap: 2rem;
  cursor: pointer;
  align-items: center;
  width: 100%;
  max-width:1400px;
  padding-bottom: 95px;
}

section.brands .client {
  padding: 15px 20px;
  text-align: center;
}

section.brands .client img {
  width: 100%;
  max-width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.4s;
  cursor: pointer;
}

section.brands .client img:hover {
  transform: scale(1.05);
}

/* Badges */

section.brands .badges {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.5em 40px 3em;
  background-color: var(--yellow-olive);
}

section.brands .badges .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}

section.brands h3 {
  font-size: 46px;
  line-height: 50px;
  font-family: "CabinetGrotesk-Extrabold";
  color: var(--primary);
  margin: 0;
  /*   padding: 25px 20px 50px 20px; */
}

section.brands .badges .labels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section.brands .badges .labels .clutch {
  padding-right: var(--XL-L);
}

section.brands .items {
  display: flex;
  gap: var(--M);
}

section.brands .clutch img {
  max-width: 200px;
  width: 100%;
}


